.navbar.navbar-default {
	background-color: #CC1B1B;
	font-family: 'Open Sans';
	margin-bottom: 0;
	
}
.navbar-brand {
	font-family: 'Merriweather';
	color:#E5CB91;
}
.navbar.navbar-default a {
	color:#E5CB91;
}
.nav.navbar-nav.navbar-right a {
	color:#E5CB91;
}
.photo-banner {
	background-image: url(../img/creamy.jpg);
	background-position: center;
	padding-top: 150px;
	padding-bottom: 150px;
}
.title {
	font-family: 'Merriweather';
}
h6 {
	font-family: 'Open Sans';
}
.beich {
	background-color:#E5CB91;
	width: 100%;
}
.so-creamy {
	font-family: 'Merriweather';
	color:red;
	padding-top: 80px;
}
.textred {
	color:red;
	font-family: 'Open Sans';
}

.ice-cream {
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.red {
	width:100%;
	background-color:#AC152A;

}
.about {
	font-family: 'Merriweather';
	color:#E5CB91;
	padding-top: 30px;

}
.aboutred {
	color:#E5CB91;
	font-family: 'Open Sans';
	font-weight: 400;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}
.fondoicons {
	background-color: #E5CB91;
	width: 100%;
	padding-bottom: 100px;
}
.icons {
	padding-left: 50px;
	padding-right: 50px;
}
.icon {
	color:red;
	padding-top: 30px;
}
h2 {
	font-family: 'Open Sans';
}
.texticon {
	font-size: 12px;

}
.end {
	background-color: #AC152A;
}
.pieparrafo {
	font-family: 'Merriweather';
	font-size: 10px;
	color:#E5CB91;
	padding-left: 50px;
	padding-top: 15px;

}